:root {
  --fg: black;
  --bg: #FDF6E3;
  
  --bg--card: #EFEBD4;
}

body {
  font-family: Arial, sans-serif;
  padding: 10px;
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
}

.kontainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media Query untuk layar besar */
@media (min-width: 768px) {
  .kontainer {
    max-width: 900px;
  }
}


.fade-in {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card {
    background: var(--bg--card);
    color: var(--fg);
    border: 3px solid;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 5px 5px 0 var(--fg);
  }

